old_sounds_of_gun/source/WoT_sound_mod.*
!old_sounds_of_gun/source/WoT_sound_mod.wproj
old_sounds_of_gun/source/GeneratedSoundBanks/*
old_sounds_of_gun/source/.cache
old_sounds_of_gun/source/.backup

old_sounds_of_hits/source/WoT_sound_mod.*
!old_sounds_of_hits/source/WoT_sound_mod.wproj
old_sounds_of_hits/source/GeneratedSoundBanks/*
old_sounds_of_hits/source/.cache
old_sounds_of_hits/source/.backup

old_crew_sounds/source/WoT_sound_mod.*
!old_crew_sounds/source/WoT_sound_mod.wproj
old_crew_sounds/source/GeneratedSoundBanks/*
old_crew_sounds/source/.cache
old_crew_sounds/source/.backup

pancerni_crew_sounds/source/WoT_sound_mod.*
!pancerni_crew_sounds/source/WoT_sound_mod.wproj
pancerni_crew_sounds/source/GeneratedSoundBanks/*
pancerni_crew_sounds/source/.cache
pancerni_crew_sounds/source/.backup

pingwiny_crew_sounds/source/WoT_sound_mod.*
!pingwiny_crew_sounds/source/WoT_sound_mod.wproj
pingwiny_crew_sounds/source/GeneratedSoundBanks/*
pingwiny_crew_sounds/source/.cache
pingwiny_crew_sounds/source/.backup