old_sounds_of_gun/WoT_sound_mod.*
old_sounds_of_gun/WoT_sound_mod.*
old_sounds_of_gun/GeneratedSoundBanks/*
old_sounds_of_gun/.cache

old_sounds_of_hits/WoT_sound_mod.*
old_sounds_of_hits/WoT_sound_mod.*
old_sounds_of_hits/GeneratedSoundBanks/*
old_sounds_of_hits/.cache